body{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

nav{
    padding: 5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

header{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25%;
    top: 25%;
}
.myImgClass{
    width: 150px;
}
    
    
#memeImage{
    width: 150px;
}
/* table styles */


        table{
            max-width: 400px;
            /* mutiple borders in the same srea will collapse into a single border*\ */
            border-collapse: collapse;
        }

        tr, th, td{
            padding: 10px;
        }

        tr{
            border: 2px solid purple;
        }
        tr:nth-child(even){
            background-color: lightgray;
            color: navy
        }
        tr:hover{
            background-color: violet;
            color: rgb(0, 0, 0)
        }
 
